{% extends "base.html" %}
{% block content %}

<h2>
Custom biomusic applications - Create musical experiences
</h2>

<p>
You can create a unique experience for your customers by adding the element of biosignal controlled soundscapes to your events. Our technology is available for commissioned, in-situ or mobile installations. By linking elements of the music, like instrument timbre and tempo to the heartbeats and respiration of individual users, you make participants feel involved in a unique performance. We can help tailor soundscapes towards a particular goal, for example, making users more aware of their heartbeats and breathing in order to aid relaxation or meditation. The interplay between signals from many users makes multi-party installations especially dynamic, interesting and emergent. The empowering feeling of embodied music must simply be experienced first hand.
</p>

<p>
<i>Example:</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An installation at a wellness centre designed for relaxation and mood monitoring aims to lower participants' heart rate and respiration and translates these overt musical elements into a relaxing piece of music. This increases participants' awareness of their bodies, which helps them reach their goal. The mere act of listening transforms the music.
</p>

{% endblock %}
