---
---


{% include header.html %}


<h2>
How it began
</h2>

<p>
The basis of our current work in physical, adaptive, contextual, bio-informed sound design and performance research is in a series of projects combining physiological computing and generative music.</p>

<p>
<p><img src="static/img/prototyping.jpg", width="460px"/>
<small><i>Early prototypes, 2011.</i></small></p>
</p>

<p>
In 2011, Ove Holmqvist, Dave Murphy and Joonas Paalasmaa were encouraged by the Discovery Research Group for Computational Creativity at the University of Helsinki’s Department of Computer Science to create the EPhysMus project, as it was a way to present algorithmic processing of real-world data in a musical context. Performances using the technology were made at various academic events, for example at the 13th World Congress for Science Journalists and the 11th International Symposium on Intelligent Data Analysis.</p>

<p><img src="static/img/eso-2.jpg", width="460px"/>
<small><i>Live in Eteläsuomalainen osakunta, 2012</i></small></p>
</p>

<p>
Our current development team formed in May, 2016. Ove Holmqvist was joined by long-time associates Henri David and Mark Meddings to create the second iteration of the mobile app.</p>

<h4>Historical Biomusic</h4>

<p>
There were many forerunners in the quest to make music using biological processes, some largely forgotten. Since the mid-1960’s, artists have used biosignals as an alternative means of input. Pioneers in this field include Alvin Lucier, Manford L. Eaton,
Richard Teitelbaum, David Rosenboom, Erkki Kurenniemi and Ralph Lundsten. A typical application of biosignals has been to generate sounds based on EEG or ECG measurement.</p>

<p>
<img src="static/img/lucier1.jpg"/><img src="static/img/lucier2.jpg"/><br/>
<small><i>Alvin Lucier and his EEG-based bio-music system.
Sources: <a href="http://www.poptronics.fr/alvin-lucier-s-asseoit-sonore-au">1</a>,
<a href="http://non-fiction.eu/2011/04/14/28-april-hear-it-at-the-stedelijk-museum/">2</a>.</i></small>
</p>
<p>
<img src="static/img/eaton diagram.png"/><img src="static/img/eaton hypothetical system.png"/><br/>
<small><i>Manford L. Eaton envisioned complex bio-music systems including multi-modal measurement and feedback loops.
Source: Manford L. Eaton. 1974. Bio-music. Something Else Press.</i></small>
</p>

<p>
Biomusic systems were theoreticized as early as 1933 by the Italian futurists Filippo Tommaso Marinetti and Pino Masnata, when they proposed the “reception amplification and transformation of vibrations emitted by living beings...of states of mind”. 
A forerunner in biomechanical music was Solomon Nikritin, who conceived a notation system for postures. In the emerging field of film sound, concepts such as physiological mapping of sound were studied by Arseny Avraamov while Dziga Vertov’s and Nikolai Timofeev’s biomechanical ballet was even endorsed by Charlie Chaplin. Léon Theremin conducted some music-related hypnosis experiments and created a body-controlled instrument, the Terpsitone.
</p>


{% include footer.html %}
