---
---



{% include header.html %}


<h2>
Services
</h2>

<p>
We hear a new world of sound that is ever present, ever changing and one that we own, since it originates within us.</p>

<p>
We are creating the sound of the 2020's today - collaborative, contextual, behaviouristic biomusic: informed by nature, made possible though science, we create possibilities for anyone with a pulse to enjoy an emergent, authentic and personally satisfying experience that goes beyond music and genres, straight to the body and directly to the brain.</p>

<p>
We would like you to join us in our musical quest to unite people, places and things in a new, infinite world of sound.</p>

<p> 
Sign up for the beta <a href="mailto:ove@biomusic.cc">here</a>
  
  
<h4>Case studies</h4>

<p>
<b>Beddit</b> tracks your sleep using a thin film cardioballistography sensor on the mattress. We prototyped and created different smart alarm versions and sleep musification models. The product was adapted to be used for sonification and visualisation of biosignals at marketing events. 
</p>

<p><img src="static/img/beddit_slush.jpg", width="460px"/>
<small><i>Beddit demo, Slush 2014.</i></small></p>

<p>
<b>We</b> are currently developing our first iOS application, an adaptive sonification environment for everyday activities.
</p>

<p><img src="static/img/helsinki_design_week.jpeg", width="460px"/>
<small><i>Helsinki Design Week 2015.</i></small></p>


<h4>Science</h4>

<p>
Producing expressive and entertaining music based on biosignal measurement is
an interesting research topic. We have so far published one paper on our technology, at the
<a href="http://ida2012.org/">11th International Symposium on Intelligent Data Analysis</a>
in October 2012.
</p>

<p><small>Paalasmaa, J., Murphy, D. J. &amp; Holmqvist, O., 2012.
<b>Analysis of Noisy Biosignals for Musical Performance.</b>
<span style="font-style:italic;">11th International Symposium on Intelligent Data Analysis (IDA 2012)</span>. Lecture Notes in Computer Science 7619. pp. 241-252. Springer, Heidelberg.
<a href="https://helda.helsinki.fi/bitstream/handle/10138/37400/paalasmaa_2012_analysis.pdf">download PDF</a> &#8211;
<a href="http://dx.doi.org/10.1007/978-3-642-34156-4_23">doi: 10.1007/978-3-642-34156-4_23</a></small></p>


{% include footer.html %}
