---
---



{% include header.html %}


<h2>
Services
</h2>

<p>
We are artists, designers and product developers serving clients that include musicians, researchers, enterprises and non-commercial organisations alike. We hear a new world of sound that is beyond noise or chart music - collaborative, contextual, behaviouristic music. 
</p>

<p>
We are creating the music of the 2020's today. Are you ready for holarchic form in sound?
</p>

<h4>Case studies</h4>

<p>
<b>Beddit</b> tracks your sleep using a thin film cardioballistography sensor on the mattress. We prototyped and created different smart alarm versions and sleep musification models. The product was adapted to be used for sonification and visualisation of biosignals at marketing events. 
</p>

<p>
<b>We</b> are currently developing our first iOS application, an adaptive sonification environment for everyday activities.
</p>

<p><img src="static/img/eso107.jpg"/>
<small><i>Live at Ravintola Kaisaniemi, Oct 10, 2012.</i></small></p>

<h4>Science</h4>

<p>
Producing expressive and entertaining music based on biosignal measurement is
an interesting research topic. We have so far published one paper on our technology, at the
<a href="http://ida2012.org/">11th International Symposium on Intelligent Data Analysis</a>
in October 2012.
</p>

<p><small>Paalasmaa, J., Murphy, D. J. &amp; Holmqvist, O., 2012.
<b>Analysis of Noisy Biosignals for Musical Performance.</b>
<span style="font-style:italic;">11th International Symposium on Intelligent Data Analysis (IDA 2012)</span>. Lecture Notes in Computer Science 7619. pp. 241-252. Springer, Heidelberg.
<a href="https://helda.helsinki.fi/bitstream/handle/10138/37400/paalasmaa_2012_analysis.pdf">download PDF</a> &#8211;
<a href="http://dx.doi.org/10.1007/978-3-642-34156-4_23">doi: 10.1007/978-3-642-34156-4_23</a></small></p>


{% include footer.html %}
