---
---


{% include header.html %}

<h2>
Contacts
</h2>

<p>
Ove Holmqvist works in the intersection of experimental media, fine art and design with a focus on biofeedback and generative processes. Ove has a background in audiovisual arts, advertising and media. He is the concept designer and founder of biomusic.cc.<br/>
tel. +358 45 111 0379<br/>

<a href="mailto:ove@biomusic.cc">email</a>
<a href="http://ove.fi/">web</a>
<a href="http://twitter.com/holmium">twitter</a>
<a href="http://www.linkedin.com/in/holmium">linkedin</a>
</p>

<p>
Joonas Paalasmaa, PhD, is a computer scientist and biomedical engineer.
He’s CTO at <a href="http://www.beddit.com/">Beddit</a>.<br/>

<a href="http://paalasmaa.net">paalasmaa.net</a>
<a href="http://twitter.com/jpaalasm">twitter</a>
<a href="https://github.com/jpaalasm">github</a>
<a href="http://www.linkedin.com/in/joonaspaalasmaa">linkedin</a>
</p>

<p>
David Murphy is a software developer at Google. David worked at Nokia Research Center
from 2004-2012, focusing on mobile mixed and augmented reality and how to
consume and create AR/MR media, beginning with the development of Nokia MARA,
the worlds first mobile sensor-based AR browser.<br/>

<a href="http://twitter.com/dabhaid">twitter</a>
<a href="http://www.linkedin.com/in/dabhaid">linkedin</a>
</p>



{% include footer.html %}
