---
---


{% include header.html %}

<h2>
Contacts
</h2>

<p>
Ove Holmqvist works in the intersection of experimental media, fine art and design with a focus on biofeedback and collaborative, generative processes. Ove has a background in audiovisual art and design, advertising and media. He is the concept designer and founder of biomusic.cc.<br/>
tel. +358 45 111 0379<br/>

<a href="mailto:ove@biomusic.cc">email</a>
<a href="http://ove.fi/">web</a>
<a href="http://twitter.com/holmium">twitter</a>
<a href="http://www.linkedin.com/in/holmium">linkedin</a>
</p>

<p>
Joonas Paalasmaa, PhD, is a computer scientist and biomedical engineer.
He’s CTO at <a href="http://www.beddit.com/">Beddit</a>.<br/>

<a href="http://paalasmaa.net">paalasmaa.net</a>
<a href="http://twitter.com/jpaalasm">twitter</a>
<a href="https://github.com/jpaalasm">github</a>
<a href="http://www.linkedin.com/in/joonaspaalasmaa">linkedin</a>
</p>

<p>Henri David is a French programmer with extensive experience in enterprise-level applications and software for music controllers. He is a member of the EU platform Scale. Henri is the system architect and current lead developer of biomusic.cc.</p> 

<p>Mark Meddings is a Brussels-based musician and sound engineer. Mark has worked with biomusic.cc since 2014, specialising in prototype 
development, musicology and pre-composition. Mark is the musical brain of biomusic, currently developing our adaptive synthesis engine.</p> 


{% include footer.html %}
