{% extends "base.html" %}
{% block content %}


<h2>
Contacts
</h2>

<p>
Ove Holmqvist (holminid) is an artist and designer researching new forms
of expression and collaboration in computer-assisted art. He is particularly
interested in participatory performances involving sound.<br/>

<a href="mailto:ove@ove.fi">email</a>
<a href="http://ove.fi/">web</a>
<a href="http://twitter.com/holmium">twitter</a>
<a href="http://www.linkedin.com/in/holmium">linkedin</a>
</p>

<p>
Joonas Paalasmaa is a computer scientist and biomedical engineer. He’s
Chief Scientist at Beddit and working on a PhD thesis at University of Helsinki
computer science department’s
<a href="http://www.cs.helsinki.fi/discovery">Discovery</a> group.<br/>

<a href="mailto:joonas.paalasmaa@gmail.com">email</a>
<a href="http://www.cs.helsinki.fi/u/jpaalasm/">web</a>
<a href="http://twitter.com/jpaalasm">twitter</a>
<a href="https://github.com/jpaalasm">github</a>
<a href="http://www.linkedin.com/in/joonaspaalasmaa">linkedin</a>
</p>

<p>
David Murphy is a software developer. He runs Meld - a research & development
consultancy based in Helsinki, Finland. David worked at Nokia Research Center
from 2004-2012, focusing on mobile mixed and augmented reality and how to
consume and create AR/MR media, beginning with the development of Nokia MARA,
the worlds first mobile sensor-based AR browser.<br/>

<a href="mailto:david.murphy@meld.fi">email</a>
<a href="http://www.meld.fi">web</a>
<a href="http://twitter.com/dabhaid">twitter</a>
<a href="http://www.linkedin.com/in/dabhaid">linkedin</a>
</p>

{% endblock %}
