---
---


{% include header.html %}


<h2>
About us
</h2>

<p>
At biomusic.cc, we study new ways to make production and live performance of electronic music physical, immediate and fun. Our interests range from bioacoustics and biosignal processing to audience research and affective design.
</p>

<p>
We offer insights into future musicianship and audience experiences. We are available for commissions in the fields of concept design, prototyping, system analysis, user testing and market research. Our content services provide customers scientifically valid bio-art and proven methodologies for their own productions.
</p>


{% include footer.html %}
