---
---


{% include header.html %}


<h2>
Controlling music with your body
</h2>

<p>
The EPhysMus (Electronic Physiological Music) system is a modular, reactive audio environment for the authoring of live biomusic. 
</p>

<p>
Users of the system wear wireless biosensors that measure their biosignals, which are then translated into musical events in realtime. 
</p>

<p>
The EPhysMus software can be used to control synthesisers, effects and mixing. It supports DMX lighting and OSC-controlled visuals, which enhance the performance, as they provide visual feedback of the biosignals. 
</p>

<p>
Measured signals include heart rate, breathing and movement. The resulting music is dynamic due to the interlinking of performers' biomechanical activity and postures to various parameters in the synthesis and composition of the piece. 
</p>

<p>
The project enables anyone with a pulse to create complex and expressive performances in any given musical style, in our case typically ranging from classical minimalism or no-wave symphonies to industrial ambient and EBM as well as contemporary styles.
</p>

<p>
In multi-performer sessions, users can create collaborative instruments that combine their biosignals in novel ways. Performance and composition are intrinsically linked to the physiologies and activities of the participants.
</p>

<p>
The EPHysMus system enables non-musicians to communicate musically with each other and rewards both physical activity and mindful concentration with musical events and increased self-awareness.
</p>

<p>
The use of biosignal measurements in a musical context creates an emergent art form enabling physical, ubiquitous, reactive music to be performed solo or by large numbers of participants. 
</p>



{% include footer.html %}
