{% extends "base.html" %}
{% block content %}


<h2>
For musicians – Control Ableton Live with your body
</h2>

<p>
<i>Coming soon - contact us for more information</i>
</p>

<p>
Turn your movements into musical expressions. Control any aspect of a Live performance with your body. Add actual breath control to your synths and use them like wind instruments, while your kick drums are synced and triggered by your heartbeats. Postural control of pitch turns you into a human theremin. Activity-based mixing creates dynamic musical events and removes the need for mix monitoring. Our Ableton Live integration allows mapping between any of our sensors and any mappable Live system, instrument and effect parameters, with as many simultaneous mappings as your computer can handle. The system outputs OSC and MIDI. Lighting can be automated through bio-controlled DMX.
</p>

{% endblock %}
