		</div>
		<div id="aside">
			<h3><a href="http://vimeo.com/channels/447719/videos">Our videos at Vimeo</a></h3>
                        <p><iframe src="http://player.vimeo.com/video/55428459" width="340" height="191" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><br/>
                        A video of our performance at the <a href="http://ida2012.org/">IDA 2012</a> conference.
			</p>
			
			<p>&nbsp;</p>
			
			<h3>Biomusic samples:</h3>
			<p><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2546829"></iframe></p>
		</div>
		
		<div id="footer">
		</div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
