<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="static/css/style.css">

	<title>electronic physiological music</title>

</head>
<body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38019757-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div id="container">
	<div id="header">
		<h1>
			<b>e</b><i>lectronic</i><br/>
			<b>phys</b><i>iological</i><br/>
			<b>mus</b><i>ic</i>
		</h1>
	</div>
	
	<div id="navigation">
		<ul>
			<li><a href=".">About us</a></li>
			<li><a href="background.html">History</a></li>
			<li><a href="biomusic.html">Services</a></li>
			<li class="lastnaviitem"><a class="lastnaviitem" href="contacts.html">Contacts</a></li>
		</ul>
	</div>
	
	<div id="content-container">
		<div id="content">
